certifi==2025.4.26
charset-normalizer==3.4.2
docutils==0.21.2
filetype==1.2.0
flexcache==0.3
flexparser==0.4
idna==3.10
Kivy==2.3.1
Kivy-examples==2.3.1
Kivy-Garden==0.1.5
obd==0.7.3
pillow==10.4.0
Pint==0.24.4
platformdirs==4.3.8
Pygments==2.19.1
pyserial==3.5
requests==2.32.4
typing_extensions==4.14.0
urllib3==2.4.0
wheel==0.45.1
